* {
    margin: 0;
    padding: 0;
}


#game-screen {
    min-height: 100vh;
    background: url('./../img/dungeon.jpg') no-repeat center / cover;
    display: flex;
}

#panel {
    position: relative;
    overflow: hidden;
    /* background-color: rgb(30, 2, 2); */
}

#controls {
    /* background-color: green; */

}