* {
    margin: 0;
    padding: 0;
    font-family: 'Jersey 15', sans-serif;
}

@font-face {
    font-family: 'Jersey 15';
    src: url('../fonts/Jersey_15/Jersey15-Regular.ttf') format('truetype');
}



#game-screen {
    min-height: 100vh;
    background: url('./../img/dungeon.jpg') no-repeat center / cover;
    display: flex;
}

#panel {
    position: relative;
    overflow: hidden;
}


.winner {
    width: 600px;
    height: 800px;
    background-image: url(../img/win1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 2rem;
    left: 600px;
    z-index: 14;
    display: none;
}

.loser {
    background-image: url(../img/lose1.png);
    width: 600px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 2rem;
    left: 600px;
    z-index: 14;
    display: none;

}